				{% include aside.html %}

 				</div>
			</div>


			
			<footer id="footer">
				<div class="inner">


					<p>&copy; Magpie Lab, Strategy, Design, Development since 2008, All rights reserved.
					<br/>For copyright, Privacy and other inqueries please email us on <a href="mailto:hello@magpielab.com">hello@magpielab.com</a>. </p>
				</div>
			</footer>
		</div>	






          <div id="contact" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">&times;</a>
              <h3>Get in touch</h3>
            </div>
            <div class="modal-body">
              <p>If you have a query, need a quote or for a consultancy support, you can always reach us via <a href="mailto:hello@magpielab.com">hello@magpielab.com</a>. We'd love to discus and collaborate with you.</p>

              <p>Have you got an idea?  lets meet for a coffee, we love to work with your idea. we will happyly help you to gets things done.  </p>


              <h4>Popin for a Coffee</h4>

              <p>Send us an emial to <a href="mailto:london@magpielab.com">london@magpielab.com</a> and confirm for a chat.</p>


           
         
            </div>

          </div>




	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28038706-1']);
	  _gaq.push(['_setDomainName', 'magpielab.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	<script type="text/javascript">
	var clicky_site_ids = clicky_site_ids || [];
	clicky_site_ids.push(66564204);
	(function() {
	  var s = document.createElement('script');
	  s.type = 'text/javascript';
	  s.async = true;
	  s.src = '//static.getclicky.com/js';
	  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
	})();
	</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66564204ns.gif" /></p></noscript>



	<script type="text/javascript">
	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	<script>
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</body>
</html>
